.coach {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.row {
  display: flex;
  align-items: center;
}

.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  background-color: #39a9cb;
  cursor: pointer;
}
